* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
}

.div1 {
   width: 100%;
   height: 100%;
   display: flex;
   font-size: 15px;
   background-color: #e6eff8;
   padding-left: 5em;
   margin-top: 3em;
}

.heading {
   padding: 2.5em 1em 1em 1em;
   font-size: 2.2em;
   font-weight: 600;
}

.theory {
   width: 70%;
   text-align: justify;
   padding-left: 1.5em;
   padding-bottom: 4em;
   font-size: 1.2em;
   font-weight: 600;
   color: #808080;
}

.title-image {
   width: 100%;
   height: 100%;
   /* overflow: hidden; */
   /* flex-wrap: wrap; */
}

@media screen and (max-width: 600px) {
   .div1 {
      display: flex;
      font-size: 13px;
      width: 100%;
      height: 27em;
      font-size: 13px;
   }

   .div1-left {
      /* display: inline-block; */
      padding: auto;
      margin: auto;
      width: 100%;
   }

   .heading {
      width: 100%;
      font-size: 2.2em;
      /* text-align: ; */
      margin-top: -1.5em;
      margin-left: -2.3em;
   }

   .theory {
      width: 100%;
      font-size: 1.2em;
      margin-top: -1em;
      margin-left: -4em;
   }

   .title-image {
      width: 0%;
      height: 0%;
   }
}

/* Contact Tiles */
.boxes {
   display: flex;
   width: 80%;
   margin: auto;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 3em;
}

.boxes img {
   padding-top: 2em;
   width: 3em;
   height: 5em;
}

.boxes .p1 {
   padding: 2em;
}

.box-heading {
   font-weight: 600;
}

.call-box {
   width: 40%;
   height: 23em;
   border-style: outset;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: -2em;
   background-color: #ffffff;
}
a {
   color: #000;
}
.call-box img {
   padding-top: 2em;
}

.message-box {
   width: 40%;
   height: 23em;
   border-style: outset;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: -2em;
   background-color: #ffffff;
}

.message-box img {
   padding-top: 2em;
}

.location-box {
   width: 40%;
   height: 23em;
   border-style: outset;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #ffffff;
}

.location-box img {
   padding-top: 2em;
}

.group-boxes {
   width: 40%;
   height: 23em;
   /* border-style: outset; */
   align-items: center;
   justify-content: center;
   text-align: center;
   /* background-color: #ffffff; */
   display: flex;
   flex-wrap: wrap;
}

.facebook-box {
   width: 47%;
   height: 7em;
   border-style: outset;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #ffffff;
   margin-right: 3%;
}

.facebook-box img {
   padding-top: 1em;
   width: 3em;
   height: 4em;
}

.instagram-box {
   width: 47%;
   height: 7em;
   border-style: outset;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #ffffff;
   margin-left: 3%;
}

.instagram-box img {
   padding-top: 1em;
   width: 3em;
   height: 4em;
}

.email-box {
   width: 100%;
   height: 14em;
   margin-top: 2em;
   border-style: outset;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #ffffff;
}

.email-box img {
   padding-top: 1em;
   width: 3em;
   height: 4em;
}

.email-box p {
   padding: 1.3em;
}

/* Responsive Boxes */
@media screen and (max-width: 600px) {
   .boxes {
      width: 100%;
      font-size: 13px;
      margin-top: -2em;
      gap: 1em;
      flex-direction: column;
   }

   .call-box {
      width: 80%;
      margin: auto;
   }

   .message-box,
   .location-box {
      width: 80%;
      margin: auto;
   }

   .group-boxes {
      width: 80%;

      margin: auto;
      background-color: rgba(230, 239, 248, 0.5);
      /* background-color: #E6EFF8; */
   }
}

/* Map */
.spot-us {
   padding-top: 3vw;

   font-weight: 800;
   width: 90vw;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.heading-map {
   padding: 1em 0em;
   font-size: 1.7em;
   font-weight: 600;
}

iframe {
   width: 90%;
   margin: 0 auto;
   border-radius: 5px;
   border: none;
   height: 40vw;
}

@media screen and (max-width: 600px) {
   .spot-us {
      font-size: 1.6em;
   }

   .heading-map {
      font-size: 1.4em;
      padding: 1em 0em;
      font-weight: 600;
   }
   iframe {
      width: 95%;
      height: 50vw;
   }
}

section {
   width: 90%;
   margin: auto;
   font-size: 15px;
}
.quote {
   padding-top: 4em;
   padding-bottom: 1.5em;
}

.infoHeading {
   font-size: 1.6em;
   font-weight: 600;
}
form {
   border-radius: 0.5em;
   box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
   width: 90%;
   /* margin-top: 2em; */
   padding: 2em 0px;
   display: flex;
   margin: 0 auto;
   flex-wrap: wrap;
   gap: 1em;
   justify-content: space-evenly;
}
#name,
#mail {
   border-radius: 0.5em;
   width: 41%;
   /* height: 2vw; */
   font-size: 0.8em;
   padding: 0.5vw 0px 1vw 0.5vw;
   border: 1px solid #b4b4b4;
   background: rgba(235, 178, 178, 0);
}
#subject {
   width: 89%;
   border-radius: 5px;
   border: 1px solid #b4b4b4;
   font-size: 0.8em;
   padding: 0.5vw 0px 1vw 0.5vw;
   background: rgba(204, 204, 204, 0);
}
#msg {
   width: 89%;
   font-size: 0.8em;
   padding: 0.5vw 0px 7vw 0.5vw;
   border-radius: 5px;
   border: 1px solid #b4b4b4;
   background: rgba(204, 204, 204, 0);
}
#btn {
   color: #ffffff;
   font-size: 0.9em;
   border: none;
   margin-top: 2em;
   background-color: #082530;
   padding: 1em 3em;
   border-radius: 0.3em;
}
#btn:hover {
   cursor: pointer;
   transition: 0.8s ease-out;
   color: #dfdede;
   background-color: #0d242d;
   border: 1px solid #000000;
}
/* *Quote Section */
@media screen and (max-width: 800px) {
   section {
      width: 90%;
   }
   .quote .infoHeading {
      font-size: 2em;
   }
   .quote {
      margin-top: 9vw;
   }
   form {
      width: 100%;
   }
   #name,
   #mail {
      width: 40%;
   }
   /* #name,
  #mail,
  #msg,
  #subject {
    font-size: 1.1em;
  } */
   .quote {
      font-size: 10px;
   }
}

footer {
   margin-top: 5%;
}

/* *Footer and NavBar */
* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
}

body {
   background-color: #f2f6f9;
}

header {
   width: 100%;
   font-size: 15px;
}

h1 {
   font-weight: 800;
   font-size: 2.3em;
   color: #028c9d;
}
h1 a {
   color: #028c9d;
}
h1:hover {
   transition: 0.3s ease-out;
   font-size: 2.4em;
}
a .logo:hover {
   transition: 0.3s ease-out;
   width: 5.1em;
}
#spanBackground {
   background-color: #003852;
   color: #ffffff;
   padding: 2px 10px;
   border-radius: 5px;
   font-weight: 600;
}

.main-header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 7em;
}
.header-left {
   margin: auto;
   justify-self: center;
   display: flex;
   align-items: center;
}
.header-right {
   justify-self: flex-end;
}
.header-left img {
   width: 5em;
}
.header-right img {
   width: 6em;
   /* height: 6em; */
}
.header-right img:hover {
   width: 6.1em;
   transition: 0.2s ease-in-out;
}
.sub-heading {
   padding-left: 55vw;
}
h2 {
   font-size: 1.3em;
}
a {
   text-decoration: none;
}
nav {
   margin-top: 1em;
   background-color: #028c9d;
   height: 2.3em;
   font-size: 13px;
   display: flex;
}
ul {
   width: 70%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
li {
   cursor: pointer;
   list-style: none;
}
li a {
   color: #ffffff;
   font-size: 1.2em;
   font-weight: 500;
}
li a:hover {
   font-weight: 600;
   transition: 0.4s ease-out;
   font-size: 1.28em;
}
li i {
   font-size: 1.5em;
   color: #ffffff;
}
li:nth-child(5) {
   display: none;
}
.prod-dropdown-content {
   position: absolute;
   z-index: 999;
   background-color: #028c9d;
   padding: 0 1em;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   display: none;
}
.prod-dropdown:hover .prod-dropdown-content {
   display: block;
}
.prod-dropdown-content a {
   margin-top: 0.5em;
   display: block;
   color: #fff;
   font-weight: 600;
   transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-dropdown-mobile {
   display: flex;
   flex-direction: column;
   gap: 2em;
   font-size: 1em;
   align-items: center;
   background-color: #028c9d;
   height: 0;
   overflow: hidden;
}

.nav-dropdown-mobile.open {
   height: 23em;
   padding: 2em 2em;
}
@media (max-width: 600px) {
   header {
      font-size: 12px;
   }
   .sub-heading {
      padding-left: 50vw;
   }
   .nav-dropdown-mobile.open {
      height: 17em;
      font-size: 0.7em;
   }
   .nav-dropdown-mobile > a {
      display: block;
      margin: auto;
      padding-right: 1em;
   }
   ul li {
      display: none;
   }
   ul {
      width: 90%;
      justify-content: flex-start;
   }
   li:nth-child(5) {
      display: block;
      font-size: 1.1em;
      padding-top: 3px;
   }
   .iso {
      display: none;
   }
}

/**Footer Styling  */
footer {
   background-color: #028c9d;
   color: #fff;
   font-size: 13px;
}
.flexFooter {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: auto;
   padding-top: 2em;
   padding-bottom: 1em;
}
.footerHeading {
   font-size: 1.4em;
   width: 100%;
   font-weight: 700;
}
.footerLeft {
   width: 40%;
}
.footerMiddle {
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* align-items: center; */
   width: 20%;
}
.footerRight {
   width: 25%;
   /* align-items: center; */
}
.leftFlex {
   display: flex;
   gap: 2em;
   justify-content: center;
   padding-top: 1em;
   margin: auto;
}
.leftTopBold,
.leftMiddleBold,
.leftBottomBold {
   width: 15%;
   /* color: #fff; */
   /* padding-left: 3em; */
   font-weight: 600;
}
.leftTop a,
.leftMiddle a,
.leftBottom a {
   color: #fff;
}
.leftTopBold a {
   color: #fff;
}
.leftTop,
.leftMiddle,
.leftBottom {
   width: 50%;
   font-size: 0.98em;
}

.leftTop:hover,
.leftMiddle:hover,
.leftBottom:hover {
   font-size: 1em;
}
.middleContent {
   padding-top: 3em;
   display: flex;
   align-items: center;
   margin-right: auto;
   gap: 0.8em;
}

.middleLogo a img {
   width: 1.7em;
   margin: auto;
   height: 1.7em;
   /* padding-left: 1em; */
}
.middleLogo a img:hover {
   width: 1.8em;
   transition: 0.8s ease-out;
}
.middleLable {
   font-weight: 600;
   font-size: 1.2em;
   color: #fff;
}
.middleLable:hover {
   font-weight: 700;
   font-size: 1.3em;
   transition: 0.3s ease-in;
}
.dwnload {
   margin: auto;
   color: #fff;
   border-radius: 0.2em;
   border: none;
   background-color: #003852;
   padding: 0.7em 1.5em;
   font-size: 1em;
   cursor: pointer;
}
.dwnload:hover {
   background-color: #084663;
   border: 1px solid #fff;
}
.rightHeading {
   font-weight: 600;
   font-size: 1.1em;
}
.rightLabel {
   background-color: #003852;
   border: none;
   margin-top: 0.5em;
   color: #fff;
   padding: 0.6em 1.5em;
   font-weight: 600;
   border-radius: 0.2em;
   margin-bottom: 3em;
}
.rightLabel:hover {
   background-color: #084663;
   border: 1px solid #fff;
}
.line {
   height: 0.1em;
   width: 90%;
   background-color: #fff;
   margin: auto;
}
.copyright {
   height: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
}
.copyright img {
   width: 1.3em;
   height: 1.3em;
   padding-right: 0.2em;
}
.copyrightLabel {
   font-size: 0.95em;
}
.footerRight a {
   color: #fff;
}
.copyrightLabel a {
   color: white;
   font-size: 1em;
}

@media (max-width: 600px) {
   footer {
      font-size: 12px;
   }
   .footerLeft,
   .footerMiddle,
   .footerRight {
      width: 100%;
   }
   .footerRight {
      display: flex;
      flex-direction: column;
   }
   .flexFooter {
      flex-direction: column;
      gap: 3em;
   }
   .middleContent {
      justify-content: center;
   }
   .middleLogo img {
      width: 1.7em;
      height: 1.7em;
      /* padding-left: 1em; */
      padding-left: 0px;
   }
   .middleLable {
      font-size: 1.3em;
   }
   .rightHeading {
      display: flex;
      justify-content: center;
   }
   .rightLabel {
      align-self: center;

      /* margin-left: 7em; */
   }
}

#preloader {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   z-index: 10000;
   overflow: hidden;
}

.preloader-logo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#image0_0_1 {
   animation: animateOne -0.5s linear 0.8s infinite alternate;
}

#image1_0_1 {
   animation: animateTwo 0.8s linear 0.8s infinite alternate;
}

#image2_0_1 {
   animation: animateThree -0.5s linear 1s infinite alternate;
}

#Ellipse_2 {
   animation: animateFour 0.8s linear 1s infinite alternate;
}

@keyframes animateOne {
   0% {
      opacity: 0;
      fill: #ffffff;
   }
   100% {
      opacity: 1;
      fill: #5c5552;
   }
}

@keyframes animateTwo {
   0% {
      opacity: 0;
      fill: #ffffff;
   }
   100% {
      opacity: 1;
      fill: #ed3d01;
   }
}

@keyframes animateThree {
   0% {
      opacity: 0;
      r: 0;
      cx: 10;
      cy: -30;
   }
   50% {
      opacity: 0.5;
      cx: 24.994;
      cy: 24.994;
   }
   100% {
      opacity: 1;
      opacity: 0.5;
      r: 24.994;
      cx: 24.994;
      cy: 24.994;
   }
}

@keyframes animateFour {
   0% {
      opacity: 0;
      r: 0;
      cx: 100;
      cy: -100;
   }
   50% {
      opacity: 0.5;
      cx: 24.994;
      cy: 24.994;
   }
   100% {
      opacity: 1;
      opacity: 0.5;
      r: 24.994;
      cx: 24.994;
      cy: 24.994;
   }
}
