* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f6f9;
}
section {
  padding-top: 4em;
  font-size: 15px;
}

.heading {
  width: 92%;
  font-size: 1.8em;
  font-weight: 600;
  margin: auto;
  color: #003852;
}
.subHeading {
  padding-top: 1em;
  width: 85%;
  font-size: 1.2em;
  font-weight: 400;
  margin: auto;
  text-align: justify;
  line-height: 1.7em;
}
.subHeading span {
  font-weight: 600;
}
@media (max-width: 600px) {
  section {
    font-size: 13px;
  }
  .subHeading {
    line-height: 1.8em;
  }
}
/**  M and M */
main {
  padding-top: 4em;
  font-size: 15px;
}
h2 {
  font-size: 1em;
}
.productsGrid {
  padding-top: 1.8em;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  flex-wrap: wrap;
  gap: 1.2em;
}
.product {
  border-radius: 1.7em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 24em;
  height: 20em;
}
.topProduct {
  height: 80%;
}

.topProduct img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.7em 1.7em 0 0;

  background-position: center;
}

.bottomProduct {
  width: 85%;
  height: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.bottomProduct a button {
  padding: 0.3em 1.5em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border: 0.5px solid black;
  border-radius: 0.5em;
  font-weight: 500;
}

@media (max-width: 600px) {
  main {
    font-size: 13.5px;
  }
  main .heading {
    width: 90%;
  }
}

/*Client Section*/
.clientSection {
  padding-top: 4em;
  font-size: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.clientLeft {
  width: 65%;
}

.clientRight {
  width: 35%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}
.clientImg {
  width: 6em;
}
@media (max-width: 600px) {
  .clientSection {
    font-size: 12px;
    gap: 2em;
    flex-direction: column;
  }
  .clientLeft {
    width: 100%;
  }
  .clientRight {
    width: 100%;
  }
}

/** Comment Section */
.commentSection {
  margin-top: 5em;
  padding-top: 3em;
  /* width: 90%; */
  height: 20em;
  font-size: 15px;
  position: relative;
  background-color: #e6eff8;
}
.swiper-wrapper {
  height: 100%;
}
.swiper {
  width: 94%;
  padding: 10px 10px 10px 10px !important;
  padding-bottom: 5em !important;
  height: 30em;
}
.swiper-pagination-bullet {
  background-color: #003852 !important;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(255, 0, 0) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5em !important;
  font-weight: 1000 !important;
  color: black !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentDiv {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.topCircle {
  border-radius: 50%;
  background-color: #003852;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCircle img {
  width: 70%;
}

.middleComment {
  width: 80%;
  font-size: 0.9em;
  text-align: justify;
  font-weight: 500;
}
.bottomComment {
  padding-top: 0.8em;
  display: flex;
  font-weight: 600;
  gap: 0.6em;
  font-size: 1em;
  align-items: center;
  justify-content: space-around;
}

.bottomComment img {
  width: 2em;
  height: 2em;
}
@media (max-width: 600px) {
  .commentSection {
    font-size: 9px;
    height: 40em;
  }
  .bottomComment {
    font-size: 0.95em;
  }
  .middleComment {
    font-size: 0.85em;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2em !important;
    font-weight: 1000 !important;
  }
}
