* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f6f9;
}
section {
  padding-top: 4em;
  font-size: 15px;
}

.heading {
  width: 92%;
  font-size: 1.8em;
  font-weight: 600;
  margin: auto;
  color: #003852;
}
.subHeading {
  padding-top: 1em;
  width: 85%;
  font-size: 1.2em;
  font-weight: 400;
  margin: auto;
  text-align: justify;
  line-height: 1.7em;
}
.subHeading span {
  font-weight: 600;
}
@media (max-width: 600px) {
  section {
    font-size: 13px;
  }
  .subHeading {
    line-height: 1.8em;
  }
}
/**  M and M */
main {
  padding-top: 4em;
  font-size: 15px;
}
h2 {
  font-size: 1em;
}
.productsGrid {
  padding-top: 1.8em;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  flex-wrap: wrap;
  gap: 1.2em;
}
.product {
  border-radius: 1.7em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 24em;
  height: 20em;
}
.topProduct {
  height: 80%;
}

.topProduct img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.7em 1.7em 0 0;

  background-position: center;
}

.bottomProduct {
  width: 85%;
  height: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.bottomProduct a button {
  padding: 0.3em 1.5em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border: 0.5px solid black;
  border-radius: 0.5em;
  font-weight: 500;
}

@media (max-width: 600px) {
  main {
    font-size: 13.5px;
  }
  main .heading {
    width: 90%;
  }
}

/*Client Section*/
.clientSection {
  padding-top: 4em;
  font-size: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.clientLeft {
  width: 65%;
}

.clientRight {
  width: 35%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}
.clientImg {
  width: 6em;
}
@media (max-width: 600px) {
  .clientSection {
    font-size: 12px;
    gap: 2em;
    flex-direction: column;
  }
  .clientLeft {
    width: 100%;
  }
  .clientRight {
    width: 100%;
  }
}

/** Comment Section */
.commentSection {
  margin-top: 5em;
  padding-top: 3em;
  /* width: 90%; */
  height: 20em;
  font-size: 15px;
  position: relative;
  background-color: #e6eff8;
}
.swiper-wrapper {
  height: 100%;
}
.swiper {
  width: 94%;
  padding: 10px 10px 10px 10px !important;
  padding-bottom: 5em !important;
  height: 30em;
}
.swiper-pagination-bullet {
  background-color: #003852 !important;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(255, 0, 0) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5em !important;
  font-weight: 1000 !important;
  color: black !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentDiv {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.topCircle {
  border-radius: 50%;
  background-color: #003852;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCircle img {
  width: 70%;
}

.middleComment {
  width: 80%;
  font-size: 0.9em;
  text-align: justify;
  font-weight: 500;
}
.bottomComment {
  padding-top: 0.8em;
  display: flex;
  font-weight: 600;
  gap: 0.6em;
  font-size: 1em;
  align-items: center;
  justify-content: space-around;
}

.bottomComment img {
  width: 2em;
  height: 2em;
}
@media (max-width: 600px) {
  .commentSection {
    font-size: 9px;
    height: 40em;
  }
  .bottomComment {
    font-size: 0.95em;
  }
  .middleComment {
    font-size: 0.85em;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2em !important;
    font-weight: 1000 !important;
  }
}

/* *Footer and NavBar */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f6f9;
}

header {
  width: 100%;
  font-size: 15px;
}

h1 {
  font-weight: 800;
  font-size: 2.3em;
  color: #028c9d;
}
h1 a {
  color: #028c9d;
}
h1:hover {
  transition: 0.3s ease-out;
  font-size: 2.4em;
}
a .logo:hover {
  transition: 0.3s ease-out;
  width: 5.1em;
}
#spanBackground {
  background-color: #003852;
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7em;
}
.header-left {
  margin: auto;
  justify-self: center;
  display: flex;
  align-items: center;
}
.header-right {
  justify-self: flex-end;
}
.header-left img {
  width: 5em;
}
.header-right img {
  width: 6em;
}
.header-right img:hover {
  width: 6.1em;
  transition: 0.2s ease-in-out;
}
.sub-heading {
  padding-left: 55vw;
}
h2 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
}
nav {
  margin-top: 1em;
  background-color: #028c9d;
  height: 2.3em;
  font-size: 13px;
  display: flex;
}
ul {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
li {
  cursor: pointer;
  list-style: none;
}
li a {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
}
li a:hover {
  font-weight: 600;
  transition: 0.4s ease-out;
  font-size: 1.28em;
}
li i {
  font-size: 1.5em;
  color: #ffffff;
}
li:nth-child(5) {
  display: none;
}
.prod-dropdown-content {
  position: absolute;
  z-index: 999;
  background-color: #028c9d;
  padding: 0 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: none;
}
.prod-dropdown:hover .prod-dropdown-content {
  display: block;
}
.prod-dropdown-content a {
  margin-top: 0.5em;
  display: block;
  color: #fff;
  font-weight: 600;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-dropdown-mobile {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1em;
  align-items: center;
  background-color: #028c9d;
  height: 0;
  overflow: hidden;
}

.nav-dropdown-mobile.open {
  height: 23em;
  padding: 2em 2em;
}
@media (max-width: 600px) {
  header {
    font-size: 12px;
  }
  .sub-heading {
    padding-left: 50vw;
  }
  .nav-dropdown-mobile.open {
    height: 12em;
    font-size: 0.7em;
  }
  .nav-dropdown-mobile > a {
    display: block;
    margin: auto;
    padding-right: 1em;
  }
  ul li {
    display: none;
  }
  ul {
    width: 90%;
    justify-content: flex-start;
  }
  li:nth-child(5) {
    display: block;
    font-size: 1.1em;
    padding-top: 3px;
  }
  .iso {
    display: none;
  }
}

/**Footer Styling  */
footer {
  background-color: #028c9d;
  color: #fff;
  font-size: 13px;
}
.flexFooter {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 1em;
}
.footerHeading {
  font-size: 1.4em;
  width: 100%;
  font-weight: 700;
}
.footerLeft {
  width: 40%;
}
.footerMiddle {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 20%;
}
.footerRight {
  width: 25%;
  /* align-items: center; */
}
.leftFlex {
  display: flex;
  gap: 2em;
  justify-content: center;
  padding-top: 1em;
  margin: auto;
}
.leftTopBold,
.leftMiddleBold,
.leftBottomBold {
  width: 15%;
  /* color: #fff; */
  /* padding-left: 3em; */
  font-weight: 600;
}
.leftTop a,
.leftMiddle a,
.leftBottom a {
  color: #fff;
}
.leftTopBold a {
  color: #fff;
}
.leftTop,
.leftMiddle,
.leftBottom {
  width: 50%;
  font-size: 0.98em;
}

.leftTop:hover,
.leftMiddle:hover,
.leftBottom:hover {
  font-size: 1em;
}
.middleContent {
  padding-top: 3em;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 0.8em;
}

.middleLogo a img {
  width: 1.7em;
  margin: auto;
  height: 1.7em;
  /* padding-left: 1em; */
}
.middleLogo a img:hover {
  width: 1.8em;
  transition: 0.8s ease-out;
}
.middleLable {
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
}
.middleLable:hover {
  font-weight: 700;
  font-size: 1.3em;
  transition: 0.3s ease-in;
}
.dwnload {
  margin: auto;
  color: #fff;
  border-radius: 0.2em;
  border: none;
  background-color: #003852;
  padding: 0.7em 1.5em;
  font-size: 1em;
  cursor: pointer;
}
.dwnload:hover {
  background-color: #084663;
  border: 1px solid #fff;
}
.rightHeading {
  font-weight: 600;
  font-size: 1.1em;
}
.rightLabel {
  background-color: #003852;
  border: none;
  margin-top: 0.5em;
  color: #fff;
  padding: 0.6em 1.5em;
  font-weight: 600;
  border-radius: 0.2em;
  margin-bottom: 3em;
}
.rightLabel:hover {
  background-color: #084663;
  border: 1px solid #fff;
}
.line {
  height: 0.1em;
  width: 90%;
  background-color: #fff;
  margin: auto;
}
.copyright {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright img {
  width: 1.3em;
  padding-right: 0.2em;
}
.copyrightLabel {
  font-size: 0.95em;
}

@media (max-width: 600px) {
  footer {
    font-size: 12px;
  }
  .footerLeft,
  .footerMiddle,
  .footerRight {
    width: 100%;
  }
  .footerRight {
    display: flex;
    flex-direction: column;
  }
  .flexFooter {
    flex-direction: column;
    gap: 3em;
  }
  .middleContent {
    justify-content: center;
  }
  .middleLogo img {
    width: 1.7em;
    height: 1.7em;
    /* padding-left: 1em; */
    padding-left: 0px;
  }
  .middleLable {
    font-size: 1.3em;
  }
  .rightHeading {
    display: flex;
    justify-content: center;
  }
  .rightLabel {
    align-self: center;

    /* margin-left: 7em; */
  }
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10000;
  overflow: hidden;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image0_0_1 {
  animation: animateOne -0.5s linear 0.8s infinite alternate;
}

#image1_0_1 {
  animation: animateTwo 0.8s linear 0.8s infinite alternate;
}

#image2_0_1 {
  animation: animateThree -0.5s linear 1s infinite alternate;
}

#Ellipse_2 {
  animation: animateFour 0.8s linear 1s infinite alternate;
}

@keyframes animateOne {
  0% {
    opacity: 0;
    fill: #ffffff;
  }
  100% {
    opacity: 1;
    fill: #5c5552;
  }
}

@keyframes animateTwo {
  0% {
    opacity: 0;
    fill: #ffffff;
  }
  100% {
    opacity: 1;
    fill: #ed3d01;
  }
}

@keyframes animateThree {
  0% {
    opacity: 0;
    r: 0;
    cx: 10;
    cy: -30;
  }
  50% {
    opacity: 0.5;
    cx: 24.994;
    cy: 24.994;
  }
  100% {
    opacity: 1;
    opacity: 0.5;
    r: 24.994;
    cx: 24.994;
    cy: 24.994;
  }
}

@keyframes animateFour {
  0% {
    opacity: 0;
    r: 0;
    cx: 100;
    cy: -100;
  }
  50% {
    opacity: 0.5;
    cx: 24.994;
    cy: 24.994;
  }
  100% {
    opacity: 1;
    opacity: 0.5;
    r: 24.994;
    cx: 24.994;
    cy: 24.994;
  }
}
