* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f6f9;
}

header {
  width: 100%;
  font-size: 15px;
}
h1 {
  font-weight: 800;
  font-size: 2.3em;
  color: #028c9d;
}
#spanBackground {
  background-color: #003852;
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7em;
}
.header-left {
  margin: auto;
  justify-self: center;
  display: flex;
  align-items: center;
}
.header-right {
  justify-self: flex-end;
}
.header-left img {
  width: 5em;
}
.header-right img {
  width: 6em;
}
.sub-heading {
  padding-left: 55vw;
}
h2 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
}
nav {
  margin-top: 1em;
  background-color: #028c9d;
  height: 2.3em;
  font-size: 13px;
  display: flex;
}
ul {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
li {
  cursor: pointer;
  list-style: none;
}
li a {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
}
li i {
  font-size: 1.5em;
  color: #ffffff;
}
li:nth-child(5) {
  display: none;
}
.prod-dropdown-content {
  position: absolute;
  background-color: #028c9d;
  padding: 0 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: none;
}
.prod-dropdown:hover .prod-dropdown-content {
  display: block;
}
.prod-dropdown-content a {
  margin-top: 0.5em;
  display: block;
  color: #fff;
  font-weight: 600;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-dropdown-mobile {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1em;
  align-items: center;
  background-color: #028c9d;
  height: 0;
  overflow: hidden;
}

.nav-dropdown-mobile.open {
  height: 23em;
  padding: 2em 2em;
}
@media (max-width: 600px) {
  header {
    font-size: 12px;
  }
  .sub-heading {
    padding-left: 50vw;
  }
  .nav-dropdown-mobile.open {
    height: 12em;
    font-size: 0.7em;
  }
  .nav-dropdown-mobile > a {
    display: block;
    margin: auto;
    padding-right: 1em;
  }
  ul li {
    display: none;
  }
  ul {
    width: 90%;
    justify-content: flex-start;
  }
  li:nth-child(5) {
    display: block;
    font-size: 1.1em;
    padding-top: 3px;
  }
  .iso {
    display: none;
  }
}

/**Footer Styling  */
footer {
  background-color: #028c9d;
  color: #fff;
  font-size: 13px;
}
.flexFooter {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 1em;
}
.footerHeading {
  font-size: 1.4em;
  width: 100%;
  font-weight: 700;
}
.footerLeft {
  width: 50%;
}
.footerMiddle {
  width: 25%;
}
.footerRight {
  width: 25%;
}
.leftFlex {
  display: flex;
  gap: 2em;
  padding-top: 1em;
  margin: auto;
}
.leftTopBold,
.leftMiddleBold,
.leftBottomBold {
  width: 15%;
  padding-left: 3em;
  /* display: flex; */
  /* justify-content: center; */
  font-weight: 600;
}

.leftTop,
.leftMiddle,
.leftBottom {
  width: 85%;
}

.middleContent {
  margin: auto;
  padding-top: 3em;
  display: flex;
  /* justify-content: center; */
  gap: 0.8em;
}
.middleLogo img {
  width: 1.9em;
  height: 1.9em;
  padding-left: 1em;
}
.middleLable {
  font-weight: 600;
  font-size: 1.1em;
}
.rightHeading {
  font-weight: 600;
  font-size: 1.1em;
}
.rightLabel {
  background-color: #003852;
  border: none;
  color: #fff;
  padding: 0.6em 2em;
  font-weight: 600;
  border-radius: 0.2em;
  margin-bottom: 3em;
}
.line {
  /* padding-top: 7em; */
  height: 0.1em;
  width: 90%;
  background-color: #fff;
  margin: auto;
}
.copyright {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright img {
  width: 1.4em;
  padding-right: 0.2em;
}
@media (max-width: 600px) {
  footer {
    font-size: 12px;
  }
  .footerLeft,
  .footerMiddle,
  .footerRight {
    width: 100%;
  }
  .flexFooter {
    flex-direction: column;
    gap: 2em;
  }
  .middleContent {
    justify-content: center;
  }
  .middleLogo img {
    width: 2.4em;
    height: 2.4em;
    /* padding-left: 1em; */
    padding-left: 0px;
  }
  .middleLable {
    font-size: 1.3em;
  }
  .rightHeading {
    display: flex;
    justify-content: center;
  }
  .rightLabel {
    margin-left: 7em;
  }
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10000;
  overflow: hidden;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image0_0_1 {
  animation: animateOne -0.5s linear 0.8s infinite alternate;
}

#image1_0_1 {
  animation: animateTwo 0.8s linear 0.8s infinite alternate;
}

#image2_0_1 {
  animation: animateThree -0.5s linear 1s infinite alternate;
}

#Ellipse_2 {
  animation: animateFour 0.8s linear 1s infinite alternate;
}

@keyframes animateOne {
  0% {
    opacity: 0;
    fill: #ffffff;
  }
  100% {
    opacity: 1;
    fill: #5c5552;
  }
}

@keyframes animateTwo {
  0% {
    opacity: 0;
    fill: #ffffff;
  }
  100% {
    opacity: 1;
    fill: #ed3d01;
  }
}

@keyframes animateThree {
  0% {
    opacity: 0;
    r: 0;
    cx: 10;
    cy: -30;
  }
  50% {
    opacity: 0.5;
    cx: 24.994;
    cy: 24.994;
  }
  100% {
    opacity: 1;
    opacity: 0.5;
    r: 24.994;
    cx: 24.994;
    cy: 24.994;
  }
}

@keyframes animateFour {
  0% {
    opacity: 0;
    r: 0;
    cx: 100;
    cy: -100;
  }
  50% {
    opacity: 0.5;
    cx: 24.994;
    cy: 24.994;
  }
  100% {
    opacity: 1;
    opacity: 0.5;
    r: 24.994;
    cx: 24.994;
    cy: 24.994;
  }
}
